.page-header {
	background-color: #fff;
	border-bottom: 1px solid $border-color;
	box-shadow: 0 3px 10px rgba(0,0,0,0.12);
}
.page-header-header {
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.heading-title {
	font-size: 1.75rem;
	line-height: 1;
	color: $dark-blue;
	margin-bottom: 0;
	@extend %fw-semibold;
	.anticon {
		font-size: 1.25rem !important;
	}
}

.base-title-menu-pophover {
	margin: -12px -16px
}
.base-title-menu-pophover-search {
	border-bottom: 1px solid $border-color;
	padding: 12px 16px;
}
.base-title-menu-pophover-content {
	padding: 12px 16px;
}